
.videopage {
    flex: 1;
    display: flex;
    margin: 1rem auto;
    justify-content: center;
}

.video-player {
    flex: 1;
}

.videopage > div {
    padding: 1rem;
}

.videopage > div:first-child {
    flex: 3;
}

.videopage > div:last-child {
    flex: 1;
}

.videopage iframe {
    border: none;
    flex: 1;
    width: 100%;
    min-height: 480px;
    height: auto;
}

.statistics {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.statistics > span {
    flex: 1;
}

.statistics > span:first-child{
    flex: 8;
}